
<div class="container">
<h1>Enter New Tweet</h1>



 <%= simple_form_for @tweet do |f| %>
 <%= f.hidden_field :user_id, :value => @current_user.id%>
 <%= f.input :text %>
 <%= f.button :submit %>
<% end %>
</div>
