<br>



<div class="container col-md-6 col-md-offset-3">
  <div class="form2">
<h1>Enter New Tweet</h1>



 <%= simple_form_for @tweet do |f| %>
 <%= f.input :text, as: :text %>
 <%= f.button :submit %>
<% end %>
</div>
</div>
